/*Recuerda que las media querys sirven para el responsive design (diseño responsivo) 
y puedes darles valores de acuerdo a tu criterio o necesidades, por el momento 
no existe un estándar específico de medidas.*/
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: .7s;
    padding: 30px 20px;
    z-index: 10;

}
/*este cambio solo afecta si por a o b motivo no se carga una imagen de logo*/

header .logo{
    position: relative;
    font-weight: 700;
    color: #44e3c3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
    cursor: pointer;
    transition: .5s;
}
header.abajo{
    background: #65e6f4;
    padding: 15px 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background: #9019b1;
    height: 80px;
    width: 100%;*/
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    position: relative;
    margin: 0 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: .7s;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background: #5613a2;
    color: #fbfbfb;
    transition: .5s;
}
/*aca trabajamos otra forma de editar una sección*/
.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
header .abajo .logo, header .abajo nav ul li a{
    color: #000;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*---------------Esta es una forma de editar una sección, arriba se explica otra forma----------------*/
/*
section{
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}*/

/*Para la parte de tableta*/

@media (max-width: 952px){
    .enlace{
        padding-left: 20px; 
    }
    nav ul li a{
        font-size: 16px;
    }
}
/*Para la parte de celular o smartphone*/

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    /*Para que se oculte el menú*/
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #0082e6;
    }
    /*Para que se muestre el menú al dar click sobre el icono*/
    #check:checked ~ ul{
        left: 0;
    }
}