*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #095763;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
header .logo{
    position: relative;
    font-weight: bold;
    color: #2b0290;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.7s;
}
header .logo:hover{
    text-shadow: #36aeb7d6 0px 0px 10px; ;
}
span{
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
}
header ul{
    float: right;
    position: relative;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    transition: 0.7s;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .5s ease;
    padding: 7px 13px;
    border-radius: 3px;
}
nav ul li a:hover{
    text-shadow: #36aeb7d6 0px 0px 10px;;
    color: #2b0290;
    transition: .5s;
}
.social-media a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 20px;
    margin: 0 15px;
    transition: .5s ease;
    text-decoration: none;
}
.social-media a:hover {
    color: #2b0290;
    text-shadow: #36aeb7d6 0px 0px 10px;;
}
section{
    min-height: 100vh;
}
.banner{
    position: relative;
	width: 100%;
	height: 100vh;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner .contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 156, 124, 0.3);
    border-radius: 10px;
}
.banner .contenedor h2{
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    text-shadow: #36aeb7d6 0px 0px 10px;
    margin-bottom: .3rem
}
.contenido .contenedor_logos{
    background-color: rgb(226, 225, 225);
   position: relative;
   object-fit: contain;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 20px;
   gap: 4rem;
}
.contenido .contenedor_logos i{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #959595;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 4rem;
}
.escogido{
    gap: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}
.escogido .card{
    border-radius: 10px;
    border-color: #095763;
    border-style: groove;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}
.escogido .card img{
    object-fit: contain;
    object-fit: cover;
    border-radius: 10px;
}
.escogido .card .card-title{
    color: blueviolet;
    font-size: 3.6rem;
    margin-bottom: .3rem;
}
.escogido  .card p{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .3rem;
    font-family: sans-serif;
}
.escogido .card .progress{
    background: #979292;
    border-radius:10px;
}
.escogido .card .progress-bar{
    width: 100%;
    height: 100%;
    background: #095763;
    border-radius:10px;
}
.escogido .imagen{
    position: absolute;
    bottom: 0;
    right: 50px;
    pointer-events: none;
    max-width: 280px;
    max-height: 100vh;
}
.imagen img{
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
}
.footer {
    z-index: 1;
    background-color: #095763;
    flex-direction: column-reverse;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.footer p {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}
